:root{
    --color-text:#000;
    --color-background:#76899E;
    --color-background-nav-click:#8AA8D6;
    --color-background-nav: #76899E;
    --color-background-nav-today-info: #d4d68a;
}

@media all and (min-width: 768px) {
    
}

@media all and (min-width: 890px) {
    body{
        min-height: 200vh;
    }
    
    header{
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        padding: 40px 0 0 0;
        z-index: 1;
    }
    
    
    .logo{
        text-decoration: 0;
        font-weight: bold;
        
    }
    
    header ul, header div{
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    header ul li{
        position: relative;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--color-background-nav);
    }
    
    header ul li a {
        text-decoration: 0;
        color: var(--color-text)
    }
    
    header ul li a :link{color:var(--color-text) ;text-decoration: none;}
    header ul li a :visited{text-decoration: none;color: var(--color-text);}
    header ul li a :active{color: var(--color-text);}
    header ul li a :hover{color: var(--color-text);}

    ul, div{
        width: 100%;
        padding: 0;
    }

    li, #today-info{
        width: 25%;
        height: 45px;
        padding: 0;
        padding-top: 3%;
        text-align: center;
    }

    #today-info{
        background-color: var(--color-background-nav-today-info);
        height:600px;
        margin-top: 16px;
    } 

    .click-on{
        background-color: var(--color-background-nav-click);
    }

    .container{
        display: flex;
        position: relative;
        background-color: var(--color-background-nav-click);
        justify-content: left;
        right: 8px;
        width: 81.5%;
        height: 600px;
        margin-top: 9.7%;
        padding: 0 0 0 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
    }

    .container img{
        border: solid 4px black;
    }

    .container form, .container select{
        z-index: 2;
    }

    .container input{
        display: flex;
    }  
    

    .container a:link{color:var(--color-text) ;text-decoration: none;}
    .container a:visited{text-decoration: none;color: var(--color-text);}
    .container a:active{color: var(--color-text);text-decoration: none;}
    .container a:hover{color: var(--color-text);text-decoration: none;}


}

