:root{
    --color-text:#30303d;
    --color-background:#76899E;
    --color-background-nav-click:#cdddf4;
    --color-background-nav: #86B6FA;
    --color-background-nav-today-info: #D4D68A;
    --color-text-today-info: #597392;
    --color-input-glow: #e6edf7;
    --color-input-shadow: #95a8c2;
    --color-fieldset:#edf1f8;
    --color-fieldset-glow:#e7effa;
    --color-fieldset-shadow:#adc1db;
    --color-text-input:#222227;
}

@media all and (min-width: 200px) {
    
}

@media all and (min-width: 1050px) {
    body{
        max-height: 300px;
    }
    
    header{
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        padding: 40px 0 0 0;
        z-index: 1;
        font-family: sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;            
    }    

    .headerScroll{
      z-index: 3;
    }
    
    .logo{
        text-decoration: 0;
        font-weight: bold;  
    }
    
    header ul, header div{
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    header ul li{
        position: relative;
        list-style: none;
        background-color: var(--color-background-nav);
    }

    header a{
      color:var(--color-text)
    }
    
    header ul li a {
        text-decoration: 0;
    }
    
    header a :link{color:var(--color-text) ;text-decoration: none;}
    header a :visited{text-decoration: none;color: var(--color-text);}
    header a :active{color: var(--color-text);}
    header  a :hover{color: var(--color-text);}
    header li:hover{background-color: var(--color-background-nav-click);color: var(--color-text);}

    ul, div{
        width: 100%;
        padding: 0;
    }

    li, #today-info{
        width: 25%;
        height: 45px;
        padding: 0;
        padding-top: 3%;
        text-align: center;
    }

    #today-info{
        background-color: var(--color-background-nav-today-info);
        height:1440px;
        margin-top: 16px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
    } 

    #today-info p{
      font-family: sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-text-today-info);
    }

    #today-info p, #today-info img{
      position: relative;  
    }

    #p-sunset, #p-sunrise{
      font-size: x-large;
      font-weight: 500;
    }

    .text-bold{
      font-weight: 600;
      font-size: xx-large;
    }

    #date{
      position: relative;
    }

    #sunrise, #sunset{
      width: 53px;
      height: 53px;
    }

    #saint1, #saint2{
      width: 53px;
      height: 53px;
    }

    .click-on{
        background-color: var(--color-background-nav-click);
        color: var(--color-text);
    }

    .container{
        display: flex;
        position: relative;
        background-color: var(--color-background-nav-click);
        right: 8px;
        width: 82.2%;
        height: 600px;
        margin-top: 9.7%;
        padding: 0 0 0 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-family: sans-serif;
        font-weight: 500;
        font-size: smaller;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--color-text);
        flex-direction: column;
    }

    .container form, .container select{
        z-index: 2;
    }

    .container #ville{
      font-family: sans-serif;
      width: 125px;
      height: 30px;
      text-align: center;
      font-weight: 500;
      font-size: smaller;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-text-input);
      background-color: var(--color-background-nav-click);
      border:transparent;
      cursor: pointer;
      border-radius: 6px;
      box-shadow: 5px 5px 10px var(--color-input-shadow), -5px -5px 10px var(--color-input-glow);
    }
    
    #ville:hover{
      box-shadow: inset 5px 5px 10px var(--color-input-shadow), inset -5px -5px 10px var(--color-input-glow);
    }

    .container input{
        display: flex;
    }  
    

    .container a:link{color:var(--color-text) ;text-decoration: none;}
    .container a:visited{text-decoration: none;color: var(--color-text);}
    .container a:active{color: var(--color-text);text-decoration: none;}
    .container a:hover{color: var(--color-text);text-decoration: none;}

    #weather-table{
      justify-content: center;
      padding: 5%;
      border-radius: 13px;
      box-shadow: inset 10px 10px 20px var(--color-fieldset-shadow), inset -10px -10px 20px var(--color-fieldset-glow);
    }

    table{
      border-collapse: collapse;
      font-family: sans-serif;
      font-weight: 500;
      font-size: smaller;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-text-input);
  }
  
  td {
      text-align: center;
  }
  
  
  td img{
      width: 32px;
  }

  #submit-ville {
      font-family: sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--color-text-input);
    }
       
    #submit-ville {
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      position: relative;
      top: 25px;
      left: 65px;
      padding: 0;
      border-radius: 10px;
      border: none;
      background-color: var(--color-background-nav-click);
      box-shadow: 10px 10px 20px var(--color-input-shadow), -10px -10px 20px var(--color-input-glow);
      cursor: pointer;
    }

    #submit-ville:hover{
      box-shadow: inset 10px 10px 20px var(--color-fieldset-shadow), inset -10px -10px 20px var(--color-input-glow);
    }
    
    .animate {
      animation: shadowDeepIn 200ms ease-out forwards,
          shadowDeepOut 200ms 300ms ease-in forwards,
        darkenColor 200ms ease-out forwards,
        darkenColor 200ms 300ms ease-in reverse forwards;
    }
    
    @keyframes shadowDeepIn {
      0% {
        box-shadow: 10px 10px 20px var(--color-input-shadow), -10px -10px 20px var(--color-input-glow);
      }
      50% {
        box-shadow: none;
      }
      100% {
        box-shadow: inset 10px 10px 20px var(--color-input-shadow), inset -10px -10px 20px var(--color-input-glow);
      }
    }
    
    @keyframes shadowDeepOut {
      0% {
        box-shadow: inset 10px 10px 20px var(--color-input-shadow), inset -10px -10px 20px var(--color-input-glow);
      }
      50% {
        box-shadow: none; 
      }
      100% {
        box-shadow: 10px 10px 20px var(--color-input-shadow), -10px -10px 20px var(--color-input-glow);
      }
    }
    
    @keyframes darkenColor {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0.5;
      }
    }

    fieldset{
      padding: 2%;
      border-radius: 5px;
      border-color: transparent;
      box-shadow: 5px 5px 10px var(--color-fieldset-shadow), -10px -10px 20px var(--color-fieldset-glow);
    }

    fieldset #submit{
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 10px;
      border: none;
      border-color: var(--color-input-glow) var(--color-input-shadow) var(--color-input-shadow) var(--color-input-glow);
      box-shadow: 5px 5px 10px var(--color-input-shadow), -10px -10px 20px var(--color-input-glow);
    }

    #submit{
      font-family: sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: var(--color-background-nav-click);
      color: var(--color-text-input);
    }

    #submit:hover{
      box-shadow: inset 10px 10px 20px var(--color-input-shadow), inset -10px -10px 20px var(--color-input-glow);
    }

    fieldset input{
      height: 25px;
    }

    fieldset input, fieldset textarea{
      font-family: sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 5px;
      background-color: var(--color-fieldset);
      color: var(--color-text-input);
      border:transparent solid 2px;
    }

    fieldset input:hover, fieldset textarea:hover{
      border: var(--color-input-shadow) solid 2px;
    }

    fieldset input:focus, fieldset textarea:focus{
      outline: none;
      border: var(--color-background-nav) solid 2px;
    }    

    #message{
      max-width: 750px;
      min-width: 600px;
      height: 200px;
      border-radius: 8px;
     }

  }



